#text_area {
    -fx-background-color: transparent;
    -fx-border-color: border_color;
}

#text_area .scroll-pane {
    -fx-background-color: transparent;
}

#text_area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

#text_area .scroll-pane .content {
    -fx-background-color: transparent;
}

#text_area:focused {
    -fx-text-fill: text_color;
    -fx-border-color: accent_color;
}

#scroll_pane {
    -fx-background-color: transparent;
}

#scroll_pane .viewport {
    -fx-background-color: transparent;
}

#split-pane {
    -fx-background-color: transparent;
}

#mask {
    -fx-padding: 4 8;
}