#root{
    -fx-font-size: 14;
    -fx-background-color: background_color;
}

#background_del{
    -fx-background-color: #f00;
    -fx-text-fill: #fff;
}

GridPane{
    -fx-padding: 8;
}

.parent_vbox {
    -fx-padding: 8;
}

.setting_title {
    -fx-font-size: 20;
    -fx-padding: 0 0 8 0;
}

.setting_description{
    -fx-font-size: 12;
}